# Q.1

In [26]:
user = input("Enter the string ")

new = ""

count_1 = 0

for i in user:
    count_1 +=1
    if i == "@":
        start = count_1
    elif i == ".":
        end = count_1
        
for i in range(start,end-1):
    new += user[i]


print(new)

Enter the string sattavat.akshat@gmail.com
gmail

# Q.2

In [36]:
user = input("Enter the comma seperated value ").split(",")

print(",".join(sorted(user)))

Enter the comma seperated value without,hello,bag,world
bag,hello,without,world

# Q.3

In [57]:
user = input("Enter the space seperated value").split(" ")
user = sorted(user)
user = list(map(lambda x :int(x) ,user))

for i in range(min(user),max(user)):
    if i in user:
        pass
    else:
        print("This number is not in the list",i)

Enter the space seperated value1 3 5 7 8 9
This number is not in the list 2
This number is not in the list 4
This number is not in the list 6

# Q.4

In [59]:
user = [ 1,2,3,3,3,4,5,6,6,7,8,9,99,0,99]
new = []
for i in user:
    if i in new:
        pass
    else:
        new.append(i)
print(new)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 99, 0]